.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60px;
}

.header a{
    padding-left: 40px;
    font-size: 20px;
    color: #fff;
    font-weight: 500;
}